
  <h2 class="text-muted no-margin-top small-caps"><%= @item[:title].downcase %></h2>

  <div class="row">
    <div class="col-md-8">
      <%= yield %>
    </div>

    <div class="col-md-4">

      <dl>
        <dt>Agent Support</dt>
        <dd>
          <%= @item[:agent_support] %>
        </dd>

        <dt>Website</dt>
        <dd>
          <a href="<%= @item[:url] %>" target="_blank"><%= @item[:url] %></a>
        </dd>
      </dl>
      
    </div>

  </div>

